<article class="monitor-event-row interaction-row kind-chat">
  <div role="button" tabindex="0" class="viewer-avatar profile-trigger gender-female">
    <img src="https://p11.douyinpic.com/aweme/100x100/aweme-avatar/tos-cn-avt-0015_ddee12ea72ab01990d5d662c9a6ffcad.jpeg?from=3067671334" alt="">
  </div>
  <div class="event-main">
    <div class="event-user-line event-content-line">
      <span class="event-identity-inline">
        <span class="badge-row badge-row-inline">
          <span title="消费Lv33" class="viewer-badge">
            <img src="https://p3-webcast.douyinpic.com/img/webcast/new_user_grade_level_v1_33.png~tplv-obj.image" alt="消费Lv33" class="">
          </span>
          <span title="星守护Lv16" class="viewer-badge viewer-badge-star-guard">
            <span class="star-guard-badge" style="border-image-source: url(&quot;https://p3-webcast.douyinpic.com/img/webcast/star_guard_advanced_badge_16_xmp.png~tplv-obj.image&quot;);">
              <span class="">
                哎哟未
              </span>
            </span>
          </span>
          <span title="专属会员" class="viewer-badge">
            <img src="https://p11-webcast.douyinpic.com/img/webcast/subscribe_new_3x.png~tplv-obj.image" alt="专属会员" class="">
          </span>
          <span title="房管" class="viewer-badge">
            <img src="https://p3-webcast.douyinpic.com/img/webcast/webcast_admin_badge.png~tplv-obj.image" alt="房管" class="">
          </span>
        </span>
        <strong class="name-relation-mutual">
          TnT
        </strong>
      </span>
      <p class="interaction-content event-inline-content">
        <!---->
        <span class="">
          晚安爱播
        </span>
        <!---->
      </p>
      <span class="event-time">
        01:40:35
      </span>
    </div>
  </div>
</article>